.form{
    background: $color-white;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    padding: 2rem;
    

    &__form{

        padding: 2rem;


        &-p1{
            background-color: white;
            page-break-after: 1rem;
            display: flex;
            flex-flow: column;
        }
    }

    &__input{
        margin-bottom: 1rem;
        margin-bottom: 0;
        width: 50%;
        height: 2rem;
        font-size: 2rem;
        text-align: center;
        display: block;
        
    }

    &__button{
        width: 20%;
        height: auto;
        
    }

    &__label{
        font-size: 1rem;

        &:not(:last-child){
            margin-bottom: 10rem;
        }
    }
}